<div class='leftScreen'>
  <div ng-show='showPokemon'>
    <div class='topTitle'><h2>Pokémon</h2></div>
    <div class='pokeList' ng-repeat='pika in pokemon | orderBy: "id"' ng-mouseenter="hoverSelect(pika)" ng-mouseleave="hoverSelect(pika)">
      <a href="/pokedex/{{pika.name}}">
        <img class='selectArrow' src="/images/selectArrow.png" ng-show='pika.showArrow'>
        <span class='pokeName'>{{pika.name}}</span>
        <span class='showId'>{{pika.showId}}</span>
      </a>
    </div>
  </div>
  <div ng-show='showMoves'>
    <div class='topTitle'><h2>Moves</h2></div>
    <div  class='moveList' ng-repeat='pika in movesCollection | orderBy: "id"' ng-mouseenter="hoverSelect(pika)" ng-mouseleave="hoverSelect(pika)">
        <img class='selectArrow' src="/images/selectArrow.png" ng-show='pika.showArrow'>
        <span class='pokeName'>{{pika.identifier}}</span>
        <span class='showId'>{{pika.id}}</span>
    </div>
  </div>
  <!-- <img class='pokeGif' src="https://media.giphy.com/media/2ukGH9ROKlXuo/giphy.gif" alt=""> -->
</div>
<div class='rightScreen'>
  <img class='pokeLogo' src="/images/gameboyLogo.png" alt="">
  <h1>Pokédex</h1>
  <h4>by</h4>
  <h2>Tony McKendry</h2>
  <br>
  <h3>Choose a category:</h3>
  <div class='categories' ng-click=clickPokemon() >
    <h4>Pokémon</h4>
  </div>
  <div class='categories' ng-click=clickMoves()>
    <h4>Moves</h4>
  </div>

</div>
