.linkedin{
  background-color: #1b86bc;
  margin-right: 20px;
}

.github{
  background-color: #333333;
    margin-right: 20px;
}

hr{
  background-color: #00ABF0;
}

.topScroll{
  background-color: #87318C;
}

.title{
  font-size: .8em;
}

.animate{
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}

.animate-enter.animate-enter-active {
	opacity: 1;
}

.hovWhite:hover{
  background-color: white;
  color: black;
}

.hovBlue:hover{
  background-color: #00ABF0;
  color: white;
}

.hovBlack{
  background-color: black;
  color: white;
}

.hovPurpBlue{
  background-color: white;
  color: #00ABF0;
}

.hovPurpBlue:hover{
  background-color: #00abf0;
  color: black;
}

.twitter{
  background-color: #2fc2ef;
  color: white;
}

.linkein{
  width: 3%;
  vertical-align: bottom;
}

.title{
  transition: all 1s ease-in-out;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.animated{
  height: 75px;
  position: relative;
}

.none{
  display: none;
}

#portfolio{
  text-align: center;
  padding-top: 15px;
}

.ng-hide-add         { animation:2s flipOutX ease; display: none;}

.ng-hide-remove      { animation:2s flipInX ease; display: block;}
