@font-face{
  font-family: 'Pokemon';
  src: url('Pokemon.ttf');
}

body{
  font-family: Pokemon;
}

div, body{
  margin: 0;
  padding: 0;
}

.container{
  height: 100vh;
  width: 1350px;
  background-color: #f40000;
  position: relative;
  margin: 0 auto;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.left{
  width: 645px;
  height: 100vh;
  border-right: 2px solid black;
  position: absolute;
  left: 0;
}

.right{
  width: 645px;
  height: 100vh;
  border-left: 2px solid black;
  position: absolute;
  right: 0;
}

.leftScreen{
  width: 550px;
  height: 75%;
  background-color: #fafafa;
  position: absolute;
  left: 208px;
  /*right: 41.5%;*/
  top: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid black;
  border-radius: 2px;
  overflow: scroll;
}
.leftScreenShow{
  width: 550px;
  height: 75%;
  background-color: #fafafa;
  position: absolute;
  left: 208px;
  /*right: 41.5%;*/
  top: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid black;
  border-radius: 2px;
  text-align: center;
}

.leftScreen a{
  text-decoration: none;
  color: black;
}

.rightScreen{
  width: 600px;
  height: 80%;
  background-color: #50ff00;
  margin: 0 auto;
  position: absolute;
  /*left: 700px;*/
  right: 182px;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}

.pokeLogo{
  width: 75%;
  margin-top: 20%;
}

.blueLight{
  width: 70px;
  height: 70px;
  background-color: #2ef9fa;
  border: 2px solid black;
  border-radius: 40px;
  margin-left: 20px;
  margin-top: 10px;
}

.redLight{
  background-color: #f51600;
  width: 20px;
  height: 20px;
  position: absolute;
  border: 2px solid black;
  border-radius: 12px;
  top: 10px;
  left: 100px;
}
.yellowLight{
  background-color: #faf800;
  width: 20px;
  height: 20px;
  position: absolute;
  border: 2px solid black;
  border-radius: 12px;
  top: 10px;
  left: 140px;
}
.greenLight{
  background-color: #4cf700;
  width: 20px;
  height: 20px;
  position: absolute;
  border: 2px solid black;
  border-radius: 12px;
  top: 10px;
  left: 180px;
}

.showId{
  float: right;
}

.pokeName{
  vertical-align: middle;
}

.selectArrow{
  vertical-align: middle;
  height: 15px;
}

.pokeList{
  padding: 5px;
}

.pokepic{
  width: 80%;
  margin: 0 auto;
}

.pokeDesc{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 35px;

}

.firstDesc{
  margin-top: 35px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.movesDiv{
  width: 103%;
  height: 260px;
  overflow: scroll;
}

.moves{
  margin-bottom: 5px;
}
