@font-face{
  font-family: 'Pokemon';
  src: url('Pokemon.ttf');
}

body{
  font-family: Pokemon;
}

div, body{
  margin: 0;
  padding: 0;
}

.container{
  height: 100vh;
  width: 1300px;
  background-color: #f40000;
  position: relative;
  margin: 0 auto;
  border-left: 2px solid black;
  border-right: 2px solid black;
  box-shadow: -8px -2px 3px rgba(0,0,0,.3)
}

.left{
  width: 625px;
  height: 100vh;
  border-right: 2px solid black;
  position: absolute;
  left: 0;
  box-shadow: 10px 0px 10px rgba(0,0,0,.2);
}

.right{
  width: 625px;
  height: 100vh;
  border-left: 2px solid black;
  position: absolute;
  right: 0;
  box-shadow: -10px 0px 10px rgba(0,0,0,.2);
}

.leftScreen{
  width: 525px;
  height: 530px;
  background-color: #fafafa;
  position: absolute;
  left: 40px;
  right: 720px;
  top: 40px;
  bottom: 0;
  margin: auto;
  border: 2px solid black;
  border-radius: 2px;
  overflow: scroll;
}
.leftScreenShow{
  width: 525px;
  height: 530px;
  background-color: #fafafa;
  position: absolute;
  left: 40px;
  right: 720px;
  top: 40px;
  bottom: 0;
  margin: auto;
  border: 2px solid black;
  border-radius: 2px;
  text-align: center;
}
.underScreen{
  width: 560px;
  height: 610px;
  background-color: #b0b0b0;
  position: absolute;
  left: 40px;
  right: 720px;
  top: 70px;
  bottom: 0;
  margin: auto;
  border: 2px solid black;
  border-radius: 7px;
  text-align: center;
}
.bottomScreen{
  width: 570px;
  height: 620px;
  background-color: #656565;
  position: absolute;
  left: 30px;
  right: 720px;
  top: 80px;
  bottom: 0;
  margin: auto;
  border: 2px solid black;
  border-radius: 7px;
  text-align: center;
}

.leftScreen a{
  text-decoration: none;
  color: black;
}

.rightScreen{
  width: 600px;
  height: 80%;
  background-color: #50ff00;
  margin: 0 auto;
  position: absolute;
  left: 692px;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}

.pokeLogo{
  width: 75%;
  margin-top: 20%;
}

.blueLight{
  width: 55px;
  height: 55px;
  background-color: #2ef9fa;
  border: 2px solid black;
  border-radius: 40px;
  margin-left: 7px;
  margin-top: 3px;
  text-align: center;
}

.blueLight:hover{
  
}

.blueLight a{
  text-decoration: none;
  color: white;
}
.whiteBase{
  width: 70px;
  height: 70px;
  background-color: white;
  border: 2px solid black;
  border-radius: 40px;
  margin-left: 20px;
  margin-top: 10px;
}

.redLight{
  background-color: #f51600;
  width: 20px;
  height: 20px;
  position: absolute;
  border: 2px solid black;
  border-radius: 12px;
  top: 10px;
  left: 100px;
}
.yellowLight{
  background-color: #faf800;
  width: 20px;
  height: 20px;
  position: absolute;
  border: 2px solid black;
  border-radius: 12px;
  top: 10px;
  left: 140px;
}
.greenLight{
  background-color: #4cf700;
  width: 20px;
  height: 20px;
  position: absolute;
  border: 2px solid black;
  border-radius: 12px;
  top: 10px;
  left: 180px;
}

.showId{
  float: right;
}

.pokeName{
  vertical-align: middle;
}

.selectArrow{
  vertical-align: middle;
  height: 15px;
}

.pokeList{
  padding: 5px;
}

.pokepic{
  height: 55%;
  margin: 0 auto;
}

.pokeDesc{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 35px;

}

.firstDesc{
  margin-top: 35px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.movesDiv{
  width: 103%;
  height: 260px;
  overflow: scroll;
}

.moves{
  margin-bottom: 5px;
}

.leftStats{
  width: 40%;
  display: inline-block;
}

.rightStats{
  width: 57%;
  display: inline-block;
}

.pokeMoves{
  display: inline-block;
  /*margin-right: 30px;*/
  width: 45%;
  vertical-align: middle;
}

.moveP{
  margin: 5px;
}

.backArrow{
  font-size: 2.5em;
  color: white;
  margin-left: 8px;
  margin-top: 10px;
}

.homeIcon{
  width: 70%;
  margin-top: 8px;
}
